name: essai

on:
  workflow_dispatch:
  
jobs:
  build:
    strategy:
      fail-fast: true
      matrix:
        #os: [macos-latest, ubuntu-24.04-arm, ubuntu-latest, windows-11-arm, windows-latest]
        os: [windows-latest]

    runs-on: ${{ matrix.os }}

    steps:
      # ----------------------------
      # Checkout
      # ----------------------------
      - uses: actions/checkout@v4

      # ---------------------------------------
      # Disable Windows Defender (Windows only)
      # ---------------------------------------
      - name: Disable Windows Defender (Windows only)
        if: startsWith(matrix.os, 'windows')
        shell: powershell
        run: |
          Set-MpPreference -DisableRealtimeMonitoring $true

      - name: Install Nim (Unix)
        if: runner.os != 'Windows'
        run: |
          curl https://nim-lang.org/choosenim/init.sh -sSf | sh -s -- -y
          echo "$HOME/.nimble/bin" >> $GITHUB_PATH
      
      - name: Install Nim (Windows)
        if: runner.os == 'Windows'
        run: |
          choco install nim -y
          echo "C:\tools\Nim\bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
          Get-ChildItem C:\tools\Nim -Recurse
        shell: powershell
