name: Run bakeoff on MacOS, Ubuntu, and Windows

on:
  workflow_dispatch:
  
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]

    runs-on: ${{ matrix.os }}

    steps:
      # ----------------------------
      # Checkout
      # ----------------------------
      - uses: actions/checkout@v4
      
      # ----------------------------
      # Set up Nim
      # ----------------------------
      - name: Install Nim (Unix)
        if: runner.os != 'Windows'
        run: |
          curl https://nim-lang.org/choosenim/init.sh -sSf | sh -s -- -y
          echo "$HOME/.nimble/bin" >> $GITHUB_PATH
      
      - name: Install Nim (Windows)
        if: runner.os == 'Windows'
        run: |
          choco install nim -y
          echo "C:\tools\nim-2.0.2\bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
        shell: powershell

      # ---------------------------------------
      # Disable Windows Defender (Windows only)
      # ---------------------------------------
      - name: Disable Windows Defender
        if: startsWith(matrix.os, 'windows')
        shell: powershell
        run: |
           Set-MpPreference -DisableRealtimeMonitoring $true
           
      # ----------------------------
      # Install D compiler (ldc2)
      # ----------------------------
      - name: Set up D (ldc2)
        uses: dlang-community/setup-dlang@v1
        with:
          compiler: ldc-latest

      # ----------------------------
      # Install Zig
      # ----------------------------
      - name: Set up Zig
        uses: goto-bus-stop/setup-zig@v2
        with:
          version: 0.15.2
          cache: false

      # ----------------------------
      # Install Go
      # ----------------------------
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.24
          cache: false
 
      # ----------------------------
      # Install Rust
      # ----------------------------
      - name: Set up Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          
      # ----------------------------
      # Setup Java
      # ----------------------------
      - name: Setup JDK
        uses: actions/setup-java@v4
        env:
          NODE_NO_WARNINGS: 1
        with:
          distribution: 'oracle'
          java-version: '21'

      # ----------------------------
      # Verify toolchains
      # ----------------------------
      - name: Verify Compilers
        shell: bash
        run: |
          echo "=== Compilers ==="
          echo "OS: $RUNNER_OS"
          echo "Arch: $(uname -m)"
          echo "GCC:"
          gcc --version | head -n 1 || echo "gcc not available"
          echo "LDC2:"
          ldc2 --version 2>&1 | grep -m1 "LDC" || echo "ldc2 not available"
          echo "Zig:"
          zig version
          echo "Go:"
          go version
          echo "Nim:"
          nim --version
          echo "Rust:"
          rustc --version
          echo "Java:"
          java -version 2>&1 | head -n 1

      # -----------------------------
      # Run bash script: run.sh
      # Generate: run.log and run.csv
      # -----------------------------
      - name: Compile and Execute
        shell: bash
        run: |
          chmod +x ./run.sh
          ./run.sh

      # ----------------------------
      # Upload log
      # ----------------------------
      - name: Upload log
        uses: actions/upload-artifact@v4
        with:
          name: run-log-${{ matrix.os }}
          path: ./run.log
          retention-days: 3

      # ----------------------------
      # Upload CSV file
      # ----------------------------
      - name: Upload CSV file
        uses: actions/upload-artifact@v4
        with:
          name: run-csv-${{ matrix.os }}
          path: ./run.csv
          retention-days: 3
 
 
